/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {
		-webkit-transform: rotate(4deg);
	}
	50% {
		-webkit-transform: rotate(-4deg);
	}
}

/* firefox */
@-moz-keyframes wiggle {
	0% {
		-moz-transform: rotate(4deg);
	}
	50% {
		-moz-transform: rotate(-4deg);
	}
}

@keyframes wiggle {
	0% {
		transform: rotate(4deg);
	}
	50% {
		transform: rotate(-4deg);
	}
}

.rotate:hover {
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s;
	cursor: pointer;
}
